root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{bowerrc, .prettierrc, .babelrc, jest.config, .stylelintrc, *.jsb3, *.jsb2, *.graphqlconfig, *.json}]
indent_size = 2
